body {
    background-image: url("http://kb4images.com/images/light-green-wallpaper/37513740-light-green-wallpaper.jpg");
    background-color: #cccccc;
}

img {
    height: 75px;
    width: 75px;
}

body {
    background-image: url("http://kb4images.com/images/light-green-wallpaper/37513740-light-green-wallpaper.jpg");
    background-color: #cccccc;
}
